div {
  background-color: cornsilk;
  margin: 5px;
  text-align: center;
}

h1 {
  text-align: left;
  font-size: 36px;
}

h3 {
  color: blue;
  text-decoration: underline;
}

p {
  text-indent: 20px;
}

a:visited {
  color: red;
}

img {
  float: right;
}
